@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}
.blue-background{
    background-color: #2294ed;
    color: white;
    padding:0px 13px;
    border-radius:  4px;
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #000000;
    box-shadow: 0 0 4px #bbd0e2;
    /* position: fixed; */
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 60px;
}

.nav-links ul {
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}



.search-bar {
    height: 32px;
    gap: 8px;
}



.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

.main-content{
    padding-top: 2%;
}
.profile-pic img{
    border-radius: 50%;
    width: 50%;
}
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.search-bar {
    margin-bottom: 20px;
}

.repos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.repo {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
}

.pagination select {
    margin-left: auto;
}
.no-selector{
    
    padding: 5% 0;
}
.user-error{
    justify-content: center;
    color: red;
    
}



@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */

    .container {
        padding-inline: 16px;
    }


    .search-bar {
        flex-direction: column;
        gap: 8px;
    }


    .search-button {
        width: 100%;
    }

    .cards-container {
        justify-content: center;
    }


    .pagination {
        flex-direction: column;
        align-items: center;
    }

    .pagination select {
        margin-top: 10px;
        margin-left: 0;
    }
    .repos-grid {
        grid-template-columns: 1fr; /* For a single column layout on smaller screens */
    }
    .profile-pic img{
        border-radius: 50%;
        width: 70%;
    }
}